<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Songs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Songs</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-slides #slides>
    <ion-slide *ngFor="let song of songs">
      <ion-card>
        <img [src]="song.image" class="player-image">
        <ion-card-header>
          <ion-card-title>{{song.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{song.description}}</ion-card-content>
        <ion-item>
          <ion-icon name='trophy' item-start style="color:#d03e84"></ion-icon>
          <ion-label>Votes</ion-label>
          <ion-badge item-end>{{song.votes}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name='logo-twitter' item-start style="color:#55acee"></ion-icon>
          <ion-label>Followers</ion-label>
          <ion-badge item-end>{{song.followers}}</ion-badge>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-button class='action' expand="block" (click)="openMenu()">
  Song Actions
</ion-button>
